<html>
    <head>
        <title>Office</title> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
    </head>
    <body>

        <div data-role="page" data-theme="b" id="office-{{ office.key.id }}">

            <div data-role="header">
                <h1>Office</h1>
            </div>

            <div data-role="content">

                <p>{{  office.name|escape  }}</p>
                <p>{{  office.phone|escape  }}</p>
                <p>{{  office.address|escape  }}</p>
                <p>{{  office.city|escape  }}, {{  office.state|escape  }} {{  office.zipcode|escape  }}</p>

            </div>

            <div data-role="footer">
                <h4></h4>
            </div>
        </div>

    </body>
</html>
